.panel-form {
    .form-group {
        @apply flex flex-col gap-1 mb-2;

        .form-label {
            @apply text-sm font-medium tracking-[0.5px] text-dark-100;
        }

        .form-control {
            @apply w-full p-1 border border-solid border-dark-400;

            &:focus {
                @apply outline-none border-primary-100;
            }
        }
    }
}

.table-input {
    @apply w-24 p-1 bg-dark-400 text-dark-100 rounded border border-solid border-dark-100;
}