@use "./_colors.scss" as colors;

.layout {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.no-resize {
    resize: none;
}

.cursor-pointer {
  cursor: pointer;
}

.label-xs {
  font-size: 13px;
  letter-spacing: 0.5px;
}

.table-label {
  @apply py-1 px-3 font-sans text-sm rounded;

  &.chapter {
    @apply bg-primary-400 text-light-100;
  }

  &.page {
    @apply bg-primary-100 text-light-100;
  }
}